.portada {
  height: auto;
}

.portada img {
  width: 100%;
  height: 10rem;
}

.head {
  background-color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid rgb(173, 168, 168);
  height: 3.8rem;
  width: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.fly_drone {
  display: flex;
  margin: 0rem 1rem 0rem 0rem;
  color: white;
  background-color: rgb(52, 51, 51);
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(44, 110, 224, 0.25);
  border: 0.1rem solid grey;
  border-radius:  0.7rem;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 8rem;

}

.elemento_head {
  list-style: none;
  display: flex;
}

.elemento_head li {
  padding-right: 2.5rem; /* 25px; /* Ajusta el valor según sea necesario */
  font-size: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}